html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px;
}
.el-breadcrumb {
  font-size: 18px;
}
.el-card {
  margin-top: 15px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table,.zk-table {
  margin-top: 15px;
}
.el-pagination {
  margin-top: 10px;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color:#67C23A
}
.el-cascader-panel{
  height: 300px;
}
.el-steps {
  margin: 15px 0;
}
.ql-editor {
  min-height: 200px;
}